{% extends 'base2.html' %}
{% load staticfiles %}
  
  {% block content %}
			<div class="col-xs-12 col-md-12 no-padding ">
			<div class="panel panel-default no-radius">
		    <div class="panel-heading no-radius" style="border-bottom: 3px solid #337AB7;"><h2 class=" center">Iniciar Sesión</h2></div>
		    <div class="panel-body">
		    	<div class="row space-mas si-bottom">
			    <div class="col-sm-offset-3 col-xs-12 col-md-6 col-sm-8">
			    <form action="." method="POST" role="form">
			    {% csrf_token %}
			    <div class="form-group">
			    {{form.errors}}
			    	<label>Email</label>
			      <input type="email" name="login" class="form-control" placeholder="Introduzca su Correo" required>
			    </div>
			    <div class="form-group">
			    	<label>Contraseña</label>
			      <input type="password" name="password" class="form-control" placeholder="Introduzca su contraseña" required>
			    </div>
			    <div class="checkbox">
			      <label><input type="checkbox" name="remember">Recordar Sesión</label>
			    </div>
			    <h5 class="center"><a href="#" class="si-bottom">¿No tienes Cuenta? Registrate</a></h5>
			    <input type="submit" name="button_login" value="Entrar" class="btn btn-block btn-primary">
			  </form>
			  </div>
			  </div>

			</div>
			</div>
			</div>
		</div>


		{% endblock content %}