{% extends 'base2.html' %}
{% load staticfiles %}
  
  {% block content %}
		<div class="container">
			
			
			<div class="col-xs-12 col-md-8 no-padding ">
			<div class="panel panel-default no-radius">
		    <div class="panel-heading no-radius" style="border-bottom: 3px solid #337AB7;"><h2 class=" center">Registrate</h2></div>
		    <div class="panel-body">
		    	<div class="row si-top si-bottom">
			    <div class="col-xs-12 col-md-12 col-sm-12 " style="margin: 1em;">
			    <form action="." method="post" role="form">
			    {% csrf_token %}
			    {{form.errors}}
			    <div class="form-group">
			    	<label>Nombre</label>
			    	{{form.first_name.errors}}
			      <input type="text" name="first_name" class="form-control" value="{{form.first_name.values}}" placeholder="Nombre Completo"  >
			    </div>
			    <div class="form-group">
			    	<label>Email</label>
			    	{{form.email.errors}}
			      <input type="email" name="email" class="form-control"  value="{{form.email.values}}" placeholder="Correo Electronico"  >
			    </div>
			    <div class="form-group">
			    
			    	<label>Telefono de Habitacion</label>
			    	{{form.telefono.errors}}
			      <input type="usr" name="telefono"  value="{{form.telefono.values}}" class="form-control" placeholder="Telefono Local"  >
			    </div>
			    <div class="form-group">

			    	<label>Telefono de Movil</label>
			    	{{form.telefono2.errors}}
			      <input type="usr" name="telefono2"  value="{{form.telefono2.values}}"class="form-control" placeholder="Telefono Movil"  >
			    </div>
			  
			     <div class="form-group">
			    	<label>Contraseña</label>
			    	{{form.password.errors}}
			      <input type="password" name="password1"  value="{{form.password1.values}}" class="form-control" placeholder="Introduzca su contraseña">
			    </div>
			    <div class="form-group">
			    	<label>Confirmar Contraseña</label>
			    	{{form.password2.errors}}
			      <input type="password" name="password2"  value="{{form.password2.values}}"
			      class="form-control" placeholder="Repita la Contraseña">
			    </div>
			    <div class="checkbox">
			      <label><input id="check" type="checkbox">Acepto Los Terminos y Condiciones</label>
			    </div>
			   
			    <input type="submit" id="submit" name="button_login" value="Registrarse" class="btn btn-block btn-primary">
			  </form>

			  </div>
			  </div>
			</div>
			</div>
			</div>
		</div>
		<!--Fin Bloque de contenido-->

		{% block js %}
			<script type="text/javascript">
				$('#submit').click(function(){
					if $('#check').val()!=true{
						return false;
					}
				});
			</script>
		{% endblock js %}
		
		{% endblock content %}