body{
	background-color: #EDF4FB;
}
.color-fondo{
	background-color: #edf4fa;
}
.logo{
	width: 95%;
}
.bar-search{
	padding-top: 18px;
	padding-bottom: 0px;
	background-color: #97BBDF;
	padding-left: 0px;
	padding-right: 0px;
}
.option-cat{
	color: #337AB7;
    font-size: 20px;
}
.space-mas{
	margin-top: 5%;
}
.space-menos{
	margin-top: 1%;
}
.no-radius{
	border-radius: 0px;
}
.no-bottom{
	margin-bottom: 0px;
}
.no-padding{
	padding: 0px;
}
.si-bottom{
	margin-bottom: 15px;
}
.no-top{
	margin-top: 0px;
}
.si-top{
	margin-top: 10px;
}
.center{
	text-align: center;
}
.right{
	float: right;	
}
.logo{
	width: 95%;
}
.nav-bar{
	text-align: right; 
	margin-top: 30px;
}
.nav-bar-home{
	text-align: right; 
	
}
.form-margin{
	margin-top: 15px;
	margin-bottom: 15px;
}
.money{
	margin-left: -25px;
    margin-top: 45px;
}
.cat-invisible{
	display: none;
}
.btn-cat{
	width: 35%;
}
.btn-cat-nav{
	width: 100%;
    height: 34px;
    border: 2px solid #ccc;
}
.btn-nav-bar-cat{
	width: 100%;
    height: 35px;
    border: 2px solid rgba(0, 0, 0, 0.12);
    text-align: left;
}
.footer {
 position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(142, 142, 142, 0.45);
    text-align: center;
    padding: 1.5em;
 

}
.container-footer{
	background-color: rgba(182, 182, 182, 0.21);;
    height: 100px;
}

.cat-1{
	padding: 0px;
    margin-left: -12px;
    margin-right: 15px;
    font-size: 12px;
}

.cat-2{
	padding: 0px;
    margin-right: 5px;
    font-size: 12px;
}

.cat-3{
	padding: 0px;
    margin-left: -12px;
    font-size: 12px;
}

.icon-1{
	margin-top:10%;
}
.icon-2{
	margin-top:13%;
}
.icon-3{
	margin-top:14%;
}
.icon-4{
	margin-top:12%;
}

.cat-nav-1{
	padding: 0px;
    margin-left: -12px;
    margin-right: 15px;
    font-size: 12px;
}

.cat-nav-2{
	padding: 0px;
    margin-right: 5px;
    font-size: 12px;
}

.cat-nav-3{
	padding: 0px;
    margin-left: -12px;
    font-size: 12px;
}

.icon-nav-1{
	margin-top:10%;
}
.icon-nav-2{
	margin-top:13%;
}
.icon-nav-3{
	margin-top:14%;
}
.icon-nav-4{
	margin-top:12%;
}

.pic-publication{
	padding: 4px 0px;
}
.precio{
float: right;
}
.precio-2{
	font-size:13px; 
	color: #C40202;
}
.precio-3{
	color: #C40202;
}

.descripcion{
	font-size:12px;
	margin-bottom:5px;
	font-weight: 500;
}
.filtro{
	font-size:14px;
	margin-bottom:5px;
	font-weight: 500;
	color: #111;
}
.col-contact{
	padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.buttom-edit-contact{
	float: right;
    font-size: 22px;
}

.banner{
	position: absolute;
	margin-top:50px;
	margin-left: 45px;
}
.categorias-nav{
   	width: 724px;
   }
.right{
	float: right;
}
.title-filtro{
	color:#1D598D;
}
.indicador{
	color: #C40202;
	font-size: 10px;
}

.alerta{
	font-size: 10px; 
	font-weight: normal;
    color: #A94442;
    background-color: #ebccd1;
    padding: 4px;
}
.terminos{
    color: #1D598D;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
   .estados{
   	display: none;
   }
   .categorias{
   	display: none;
   }
   .categorias-nav{
   	width: inherit;
   }
   .cat-nav-1{
	padding: 0px;
    margin-left: 0px;
    margin-right: 15px;
    font-size: 15px;
	}
    .cat-nav-2{
	padding: 0px;
    margin-right: 5px;
    font-size: 15px;
    }

.cat-nav-3{
	padding: 0px;
    margin-left: 0px;
    font-size: 15px;
    }
	.btn-cat{
	width: 100%;
	}
    .icon-nav-1{
	margin-top:10%;
}
.icon-nav-2{
	margin-top:13%;
    padding: 0px;
}
.icon-nav-3{
	margin-top:14%;
}
.icon-nav-4{
	margin-top:12%;
    padding: 0px;
}
    .footer {
 display: none;
}
   .banner{
   	display:none;
   }
}
.buttom-edit-contact{
	float: none;
}
}

@media only screen and (min-width: 600px) {
	.categorias{
   	display: none;
   }
   .banner{
   	display:none;
   }
}

@media only screen and (min-width: 600px) and (orientation: landscape) {
   .categorias{
   	display: block;
   }
    .banner{
   	display:block;
   }
}






/*-----------------------------------------------------------------------------

KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:   	1.0
date:      	07/27/11
author:		themepunch
email:     	support@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/



.boxedcontainer		{	max-width: 1170px; margin:auto; padding:0px 30px;}

/*********************************************
	-	SETTINGS FOR BANNER CONTAINERS	-
**********************************************/

.tp-banner-container{
	width:100%;
	position:relative;
	padding:0;

}

.tp-banner{
	width:100%;
	position:relative;
}

.tp-banner-fullscreen-container {
		width:100%;
		position:relative;
		padding:0;
}
