{% extends 'base2.html' %}
{% load functions_extras %}
{% load staticfiles %}
{% load thumbnail %}


{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/pgwslideshow.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/pgwslideshow_light.css' %}">
{% endblock css %}
{% block content %}
			<div class="col-xs-12 col-md-12 no-padding">
			<div class="panel panel-default no-radius">
		    <div class="panel-heading no-radius"><h2>{{object.titulo}}</h2></div>
		    <div class="panel-body">
		    <h4>Categorias: <a href="/anuncios/{{object.estado.estado|slugify}}">{{estado.estado}}</a> > <a href="/anuncios/{{object.estado.estado|slugify}}/{{object.get_categoria_display|slugify}}">{{object.get_categoria_display}}</a></h4>

				<ul class="pgwSlideshow">
					{% if object.imagenes.all %}
						{% for x in object.imagenes.all %}
							{% thumbnail x.image "x500"  as im %}
						    	<li><img src="{{im.url}}"></li> 
						     {% endthumbnail %}
						{% endfor %}
					{% else %}
						<li><img  src="/static/image/avatar_default.png"></li> 
					{% endif %}

				    
				</ul>
			
			<div class="col-xs-12 col-md-12 no-padding">
				<h4><b> Fecha de publicación:</b> <span>{{object.fecha}}</span>	
				<h4><b> Estado:</b> <span>{{object.estado}}</span>	
				<h4><b> Ciudad:</b> <span>{{object.ciudad}}</span>	
				{% if object.autos_y_camionetas %}
				<h4><b> Marca:</b> <span>{{object.autos_y_camionetas.marca.marca}}</span> <b>Modelo:</b> <span>{{object.autos_y_camionetas.modelo.modelo}}</span> <b> Año:</b> <span>{{object.autos_y_camionetas.anio}}</span><b> Km:</b> <span>{{object.autos_y_camionetas.kilometraje}}</span></h4>
				{% endif %}
				
				<h3 class="precio-3">${{object.precio|pricecomma}} pesos</h3>
				<div>{% for line in object.descripcion|salto %}{{line}}<br>{% endfor %}</div>
				
				<div class="col-xs-12 col-md-9 col-contact">
				 <button type="buttom" id="botoncontact" class="btn btn-primary btn-md"><i class="fa fa-info-circle"></i> Informacion de Contacto</button>
				 
				 <div class="col-xs-12 col-md-12 no-padding col-contact cat-invisible" id="infocontact">
				 {% if object.user %}
					<h4><i class="fa fa-user"></i> Nombre: {{object.user.first_name}}</h4>
					<h4><i class="fa fa-phone"></i> Telefono: {{object.user.telefono}}</h4>
					{% if  object.userPublication.telefono2 %}
					<h4><i class="fa fa-phone"></i> Telefono: {{object.user.telefono2}}</h4>
					{% endif %}
					<h4><i class="fa fa-envelope"></i> Correo: {{object.user.email}}</h4>
				{% else %}
					<h4><i class="fa fa-user"></i> Nombre: {{object.userPublication.first_name}}</h4>
					<h4><i class="fa fa-phone"></i> Telefono: {{object.userPublication.telefono}}</h4>
					{% if  object.userPublication.telefono2 %}
					<h4><i class="fa fa-phone"></i> Telefono 2: {{object.userPublication.telefono2}}</h4>
					{% endif %}
					<h4><i class="fa fa-envelope"></i> Correo: {{object.userPublication.email}}</h4>
					
				{% endif %}
				</div>
				</div>
				<div class="col-xs-12 col-md-9 col-contact">
					<button type="buttom" id="botonmessage" class="btn btn-primary btn-md"><i class="fa fa-info-circle"></i> Enviar mensaje</button>

					<div class="col-xs-12 col-md-12 no-padding col-contact cat-invisible" id="messagecontact">
					<div class="col-xs-12 col-md-8">	
						<div class="form-group">
							<label for="usr">Nombre<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
							<br><span id="id_error_nombre" class="alerta" style="display: none;">Debe introducir un nombre</span>
							<input type="text" name="name" id="id_nombre" class="form-control" value="">
						</div>
						<div class="form-group">
							<label for="usr">Correo<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
							<br><span id="error_mail" class="alerta" style="display: none;">Introduzca un correo (example@email.com)</span>
							<span id="error_mail2" class="alerta" style="display: none;">Introduzca un email correcto</span>
							<input type="text" name="email" id="id_mail" class="form-control" value="">
						</div>

						<div class="form-group">
							<label for="usr">Telefono </label>
							<br>
							<input type="text" name="telefono" id="id_telefono" class="form-control" value="">
						</div>

						<div class="form-group no-bottom">
							<label for="comment">Descripción<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
							<br><span id="error_comentario" class="alerta" style="display: none;">Escriba un comentario</span>
							<textarea class="form-control" rows="5" name="descripcion" id="id_comentario"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-primary btn-md" value="Enviar" id="sendmessage"> 
						</div>
					</div>

					</div>

					
				</div>
				<div class="col-xs-12 col-md-8 no-padding col-contact cat-invisible" id="messagesuccess">
						<h3 style="float:left;">Su mensaje de ha enviado</h3>
					</div>
				 <div class="col-xs-12 col-md-3 col-contact no-padding">
				 <a class="buttom-edit-contact" id="botoneditar"><i class="fa fa-pencil-square-o"></i>  Modificar o Borrar Anuncio</a>
				 
				<div id="logineditar" class="col-xs-8 col-md-12 no-padding col-contact {% if password %}{% else %}cat-invisible{% endif %}">
				<form method="post" action="" role="form">
				{% csrf_token %}
			    <div class="form-group">
			    {{form.errors}}
			    <input type="hidden" name="email" value="{{object.userPublication.email}}" class="form-control" placeholder="">
					{% if password %}*{{password}}{% endif %}
			      <input type="password" name="password" class="form-control" placeholder="Introduzca su contraseña" required>
			   
			    
			    </div>
			    <input type="submit" value="Enviar" class="btn btn-block btn-primary">
			  </form>
				</div>
				</div>
			</div>
			</div>
			</div>
			</div>
		</div>
		<!--Fin Bloque de contenido-->


		
{% endblock content %}
{% block js %}
<script type="text/javascript">
	email_vendedor=null;
	titulo=null;
	{% if object.titulo %}
		titulo="{{object.titulo}}";
	{% endif %}
	{% if object.user %}
		email_vendedor="{{object.user.email}}";
	{% else %}
		email_vendedor="{{object.userPublication.email}}";
	{% endif %}

</script>
<script type="text/javascript">
    var csrftoken = '{{ csrf_token }}';
</script>
<script type="text/javascript" src="{% static 'js/pgwslideshow.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/pgwslideshow.js' %}"></script>

	<script type="text/javascript">

		$(document).ready(function() {
   			 $('.pgwSlideshow').pgwSlideshow();
		});

	</script>
	 
{% endblock js %}