  {% extends 'base.html' %}
  {% load staticfiles %}
  {% load functions_extras %}
  {% block css %}
  <link href="{% static 'css/fileinput.min.css' %}" media="all" rel="stylesheet" type="text/css" />
  {% endblock css %}

  {% block js %}
    <script type="text/javascript">
      
      var csrftoken = '{{ csrf_token }}';
    
    

    </script>
  {% endblock js %}


  
  {% block content %}


  <body class="color-fondo">
    <div class="container">
      <div class="row">
        <div class="col-md-12 space-mas" style="margin-top: 5%;"></div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <!-- Logo -->
          <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
           <a href="{% url 'home' %}"> <img src="{% static 'image/logo.png' %}" class="img-responsive logo" width="315"></a>
          </div>
          <!-- NavBar -->
          <div class="col-xs-12 col-sm-4 col-md-8 col-lg-8 nav-bar">
            <a href="{% url  'home' %}"><b>Inicio</b></a>
            <span>|</span>
            <a href="{% url 'listado' %}"><b>Anuncios</b></a>
            <!--span>|</span>
            <a href="#"><b>Favoritos</b></a>
            <span>|</span>
            <a href="#"><b>Ayuda</b></a-->
          </div>
          <!-- Banner -->
          <div class="col-md-9 space-menos"></div>
          <!-- Panel Formulario -->
          <form autocomplete="off" method="post" action="" enctype="multipart/form-data" id="formenv">
            {% csrf_token %}
            <div class="col-md-9 space-menos"></div>
            <div class="col-xs-12 col-md-12">
              <div class="panel panel-primary no-radius">
                <div class="panel-body color-fondo">
                  <h1 class="center">Nuevo Anuncio</h1>

                  {% if update %}
  
                  <div class="col-xs-10 col-md-4 form-margin">
                   
                   <a href="{% url 'borrar-publicacion' object.slug %}">Borrar Publicación</a>
                 </div>
                 {% endif %}

                  <div class="col-xs-12 col-md-12">
                   <label for="sel1">Categoria<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                    <br><span id="error_categoria" class="alerta" style="display: none;">¡Selecciona una categoría!</span>
                   <div class="dropdown">
                    <button class="btn btn-default btn-cat dropdown-toggle" type="button" id="button_cat" data-toggle="dropdown">
                      <i class="fa fa-chevron-down right"></i></button>
                      <select id="id_categoria" name="categoria" style="display: none;" >
                      </select>
                     
                      <div class="dropdown-menu scrollable-menu">

                        <div class="col-xs-12 col-sm-12 col-md-12 si-bottom">
                             <div class="col-xs-2 col-sm-1 col-md-1 no-padding icon-nav-1">
                              <img src="{% static 'image/icon_vehiculos.gif' %}" >
                            </div>
                            <div class="col-xs-8 col-sm-5 col-md-3 cat-nav-1">
                              <h4><b>Vehiculos</h4>
                              <a class="btn-block" href="javascript:SelectCat('Autos y Camionetas','AyC')">Autos y Camionetas</a>
                            <a class="" href="javascript:SelectCat('Autopartes y Accesorios','AyA')">Autopartes y Accesorios</a>
                            <a class="btn-block" href="javascript:SelectCat('Motociletas','Mot')">Motociletas</a>
                            <a class="" href="javascript:SelectCat('Camiones y Comerciales','CyC')">Camiones y Comerciales</a>
                            <a class="btn-block" href="javascript:SelectCat('Náutica y Aviación','NyA')">Náutica y Aviación</a>
                            </div>

                             <div class="col-xs-2 col-sm-1 col-md-1 icon-nav-2">
                              <img src="{% static 'image/icon_inmuebles.gif' %}" >
                            </div>
                            <div class="col-xs-8 col-sm-5 col-md-3 cat-nav-2">
                             <h4><b>Inmuebles</b></h4>
                              <a class="btn-block" href="javascript:SelectCat('Casas','Cas')">Casas</a>
                           <a class="" href="javascript:SelectCat('Departamentos','Dep')">Departamentos</a>
                           <a class="btn-block" href="javascript:SelectCat('Terrenos y Lotes','TyL')">Terrenos y Lotes</a>
                           <a class="" href="javascript:SelectCat('Asistencias y Cuartos','Asi')">Asistencias y Cuartos</a>
                           <a class="btn-block" href="javascript:SelectCat('Casas de Campo','CdC')">Casas de Campo</a>
                           <a class="" href="javascript:SelectCat('Traspasos','Tra')">Traspasos</a>
                           <a class="btn-block" href="javascript:SelectCat('Rentas Vacacionales','RV')">Rentas Vacacionales</a>
                            </div>

                             <div class="col-xs-2 col-sm-1 col-md-1 no-padding icon-nav-1">
                              <img src="{% static 'image/icon_electronica.gif' %}">
                            </div>
                            <div class="col-xs-8 col-sm-5 col-md-3 cat-nav-3">
                            <h4><b>Electrónica</b></h4>
                              <a class="btn-block" href="javascript:SelectCat('Telefonos','Tel')">Telefonos</a>
                          <a class="" href="javascript:SelectCat('Computadoras y Tablets','CyT')">Computadoras y Tablets</a>
                          <a class="btn-block" href="javascript:SelectCat('Audio, TV, Fotos y Videos','ATF')">Audio, TV, Fotos y Videos</a>
                          <a class="" href="javascript:SelectCat('Consolas y Videojuegos','CyV')">Consolas y Videojuegos</a>
                          <a class="btn-block" href="javascript:SelectCat('Otros Electrónicos','OE')">Otros Electrónicos</a>
                            </div></b>

                          </div>

                          <div class="col-xs-12 col-sm-12 col-md-12 si-bottom">
                           <div class="col-xs-2 col-sm-1 col-md-1 no-padding icon-nav-3">
                              <img src="{% static 'image/icon_tiempo_libre.gif' %}" >
                            </div>
                            <b><div class="col-xs-8 col-sm-5 col-md-3 cat-nav-1">
                            <h4><b>Tiempo Libre </b></h4>
                              <a class="btn-block" href="javascript:SelectCat('Animales y Mascotas','AyM')">Animales y Mascotas</a>
                          <a class="" href="javascript:SelectCat('Bicicleta','Bic')">Bicicleta</a>
                          <a class="btn-block" href="javascript:SelectCat('Deportes','De')">Deportes</a>
                          <a class="" href="javascript:SelectCat('Instrumentos Musicales','IM')">Instrumentos Musicales</a>
                          <a class="btn-block" href="javascript:SelectCat('Caza, Pesca y Camping','CPC')">Caza, Pesca y Camping</a>
                          <a class="" href="javascript:SelectCat('Hobby y Coleccionables','HyC')">Hobby y Coleccionables</a>
                          <a class="btn-block" href="javascript:SelectCat('Libros','Lib')">Libros</a>
                          <a class="" href="javascript:SelectCat('Boletos','Bol')">Boletos</a>
                          <a class="btn-block" href="javascript:SelectCat('Viajes y Vacaciones','VyV')">Viajes y Vacaciones</a>
                            </div>

                            <div class="col-xs-2 col-sm-1 col-md-1 icon-nav-4">
                              <img src="{% static 'image/icon_empleo.gif' %}" >
                            </div>
                            <div class="col-xs-8 col-sm-5 col-md-3 cat-nav-2">
                            <h4><b>Personal</h4>
                              <a class="btn-block" href="javascript:SelectCat('Ropa y Zapatos','RyZ')">Ropa y Zapatos</a>
                          <a class="" href="javascript:SelectCat('Articulos para Niños','ApN')">Articulos para Niños</a>
                          <a class="btn-block" href="javascript:SelectCat('Accesorio y relojes','AyR')">Accesorio y relojes</a>
                          <a class="" href="javascript:SelectCat('Salud y Belleza','SyB')">Salud y Belleza</a>
                          <a class="btn-block" href="javascript:SelectCat('Amor y Amistad','AA')">Amor y Amistad</a>
                          <a class="" href="javascript:SelectCat('Empleo','Emp')">Empleo</a>
                          <a class="btn-block" href="javascript:SelectCat('Servcios y Eventos','SyE')">Servcios y Eventos</a>
                            </div>

                            <div class="col-xs-2 col-sm-1 col-md-1 no-padding icon-nav-4">
                              <img src="{% static 'image/icon_hogar.gif' %}" >
                            </div>
                            <div class="col-xs-8 col-sm-5 col-md-3 cat-nav-3">
                            <h4><b>Hogar y Oficina</b></h4>
                              <a class="btn-block" href="javascript:SelectCat('Electrodomésticos','Ele')">Electrodomésticos</a>
                          <a class="" href="javascript:SelectCat('Mueble y Decoracion','MyD')">Mueble y Decoracion</a>
                          <a class="btn-block" href="javascript:SelectCat('Jardin y Exterior','JyE')">Jardin y Exterior</a>
                          <a class="" href="javascript:SelectCat('Maquinaria y Construcción','MyC')">Maquinaria y Construcción</a>
                          <a class="btn-block" href="javascript:SelectCat('Articulos para la Oficina','ApO')">Articulos para la Oficina</a>
                          <a class="" href="javascript:SelectCat('Restaurantes y Comidas','RyC')">Restaurantes y Comidas</a>
                          <a class="btn-block" href="javascript:SelectCat('Todo lo demás','Tld')">Todo lo demás</a>
                            </div></b>
                          </div>

                    </div>
                  </div>
                </div>
                    
                <div class="col-md-12"></div>
                <!-- Categoria Autos y Camionetas -->
                <div id="id_AyC" class="col-xs-12 col-ms-12 cat-invisible">
                  <h3 class="center">Autos y Camionetas</h3>
                  <div class="col-xs-12 col-md-4">
                    <div class="form-group no-bottom">
                      <label for="sel1">Marca <i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                      <br><span id="error_marca_AyC" class="alerta" style="display: none;">¡Selecciona una marca!</span>
                      <select class="form-control" id="id_Marca_AyC" name="marca">
                      

                      </select>
                      <br>
                    </div>
                  </div>

                  <div class="col-xs-12 col-md-4">
                    <div class="form-group no-bottom">
                      <label for="sel1">Modelo<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                      <br><span id="error_modelo_AyC" class="alerta" style="display: none;">Selecciona un modelo</span>
                      <select class="form-control" id="id_Modelo_AyC" name="modelo">
                        <option> </option>
                      </select>
                      <br>
                    </div>
                  </div>

                  <div class="col-xs-12 col-md-4">
                    <div class="form-group no-bottom">
                      <label for="sel1">Año<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                      <br><span id="error_anio_AyC" class="alerta" style="display: none;">Selecciona un año</span>
                      <select class="form-control" id="anio" name="anio">
                        <option> </option>
                      </select>
                      <br>
                    </div>
                  </div>



                  <div class="col-xs-12 col-md-4">
                    <div class="form-group no-bottom">
                      <label for="sel1">Transmición<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                      <br><span id="error_transmicion_AyC" class="alerta" style="display: none;">Selecciona una</span>
                      <select class="form-control" id="transmision" name="transmision">
                        <option value="0" >Manual</option>
                        <option value="1">Automatica</option>
                      </select>
                      <br>
                    </div>
                  </div>

                  <div class="col-xs-12 col-md-4">
                    <div class="form-group no-bottom">
                      <label for="sel1">Combustible<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                      <br><span id="error_combustible_AyC" class="alerta" style="display: none;">Selecciona un</span>
                      <select class="form-control" id="combustible" name="combustible">
                        <option value="0">Gasolina</option>
                        <option value="1">Disel</option>
                        <option value="2">Gas</option>
                        <option value="3">Eléctrico</option>
                        <option value="4">Hibrído</option>
                      </select>
                      <br>
                    </div>
                  </div> 

                  <div class="col-xs-12 col-md-4">
                    <div class="form-group no-bottom">
                      <label for="usr">Kilometraje<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                      <p id="error_kilometraje_AyC" class="alerta" style="display: none;">introduzca un número</p>
                      <input type="number" id="kilometraje_AyC" value="" class="form-control si-bottom" name="kilometraje">
                    </div>
                  </div>                     
                </div>

                <div id="id_Cas" class="col-xs-12 col-ms-12 cat-invisible">
                  <h3 class="center">Casas</h3>
                  <div class="col-xs-12 col-md-4">
                    <div class="form-group no-bottom">
                      <label for="sel1">Metros de terreno<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                      <br><span id="error_Cas_terreno" class="alerta" style="display: none;">metros del terreno</span>
                      <input id="id_Cas_terreno" type="number" name="Cas_terreno" class="form-control si-bottom">
                      <br>
                    </div>

                    <div class="form-group no-bottom">
                      <label for="sel1">Metros de Construccion<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                      <br><span id="error_Cas_construccion" class="alerta" style="display: none;">Metros de construcción</span>
                      <input id="id_Cas_construccion" name="cas_construccion" type="number" class="form-control si-bottom">
                      <br>
                    </div>
                  </div>

                </div>

                <!-- Categoria Motocicletas-->
                <div class="col-xs-12 col-ms-12 cat-invisible">
                  <h3 class="center">Motocicletas</h3>
                  <div class="col-xs-12 col-md-4">
                    <div class="form-group no-bottom">
                      <label for="sel1">Marca<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                      <br><span id="error_marca_AyC" class="alerta" style="display: none;">Selecciona una marca</span>
                      <select class="form-control" id="sel1">
                        <option> </option>
                        <option>Aprilia</option>
                        <option>Bajaj</option>
                        <option>Big Dog</option>
                        <option>BMW</option>
                        <option>BOSS</option>
                        <option>Buggye</option>
                        <option>Cagiva</option>
                        <option>Can-Am</option>
                        <option>Carabela</option>
                        <option>Dinamo</option>
                        <option>Ducati</option>
                        <option>Firenze</option>
                        <option>Girela</option>
                        <option>Guzzi</option>
                        <option>Harley Davidson</option>
                        <option>Honda</option>
                        <option>Husqvarna</option>
                        <option>Hyosung</option>
                        <option>Islo</option>
                        <option>Italika</option>
                        <option>Kawasaki</option>
                        <option>Keeway</option>
                        <option>Ktm</option>
                        <option>Kurazai</option>
                        <option>Kx 100</option>
                        <option>Kymco</option>
                        <option>Lifan</option>
                        <option>MB</option>
                        <option>MV Agusta</option>
                        <option>Personalizadas</option>
                        <option>Peugeot</option>
                        <option>Piaggio</option>
                        <option>Polaris</option>
                        <option>Qlink</option>
                        <option>Ssangyang</option>
                        <option>Sunl</option>
                        <option>Sizuki</option>
                        <option>Triumph</option>
                        <option>United Motors</option>
                        <option>Vento</option>
                        <option>Vespa</option>
                        <option>Victory</option>
                        <option>Vortice</option>
                        <option>Yamaha</option>
                        <option>Zanetti</option>
                        <option>Otra</option>
                      </select>
                      <br>
                    </div>
                  </div>

                  <div class="col-xs-12 col-md-4">
                    <div class="form-group no-bottom">
                      <label for="sel1">Año<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                      <br><span id="error_anio_AyC" class="alerta" style="display: none;">Selecciona un año</span>
                      <select class="form-control" id="sel1">
                        <option> </option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                      <br>
                    </div>
                  </div>

                  <div class="col-xs-12 col-md-4">
                    <div class="form-group no-bottom">
                      <label for="sel1">Cilindraje<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                      <br><span id="error_cilindraje_AyC" class="alerta" style="display: none;">Selecciona un cilindraje</span>
                      <select class="form-control" id="sel1">
                        <option> </option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                      <br>
                    </div>
                  </div>

                  <div class="col-xs-12 col-md-4">
                    <div class="form-group no-bottom">
                      <label for="sel1">Transmición<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                      <br><span id="error_transmicion_AyC" class="alerta" style="display: none;">Selecciona una</span>
                      <select class="form-control" id="sel1">
                        <option>Manual</option>
                        <option>Automatica</option>
                      </select>
                      <br>
                    </div>
                  </div>

                  <div class="col-xs-12 col-md-4">
                    <div class="form-group no-bottom">
                      <label for="sel1">Combustible<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                      <br><span id="error_combustible_AyC" class="alerta" style="display: none;">Selecciona un</span>
                      <select class="form-control" id="sel1">
                        <option>Gasolina</option>
                        <option>Disel</option>
                        <option>Gas</option>
                        <option>Eléctrico</option>
                        <option>Hibrído</option>
                      </select>
                      <br>
                    </div>
                  </div> 

                  <div class="col-xs-12 col-md-4">
                    <div class="form-group no-bottom">
                      <label for="usr">Kilometraje<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                      <br><span id="error_kilometraje_AyC" class="alerta" style="display: none;">Selecciona un</span>
                      <input type="number" class="form-control si-bottom">
                    </div>
                  </div>                     
                </div>

                <div class="col-xs-12 col-md-12 si-top si-bottom">
                  <label class="radio-inline">
                    <input type="radio" id="particular_o_negocio" name="particular_o_negocio" value="PAR" {% if form.particular_o_negocio.value == "PAR" %}checked{% endif %}>Particular
                  </label>
                  <label class="radio-inline">
                    <input type="radio" id="particular_o_negocio" name="particular_o_negocio" value="NEG" {% if form.particular_o_negocio.value == "NEG" %}checked{% endif %} >Negocio
                  </label>
                  <br><span id="error_pot" class="alerta" style="display: none;">Selecciona una opción</span>
                </div>
                <div class="col-xs-12 col-md-8">
                  <div class="form-group no-bottom">
                    <label for="usr">Titulo<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                    <br><span id="error_titulo" class="alerta" style="display: none;">Escriba un titulo</span>
                    <input type="text" name="titulo"  id="id_titulo" value="{% if form.titulo.value %}{{form.titulo.value}}{% endif %}" class="form-control si-bottom">
                    <label for="comment">Descripción<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                    <br><span id="error_comentario" class="alerta" style="display: none;">Escriba un comentario</span>
                    <textarea class="form-control" rows="5" name="descripcion" id="id_comentario">{% if form.descripcion.value %}{{form.descripcion.value}}{% endif %}</textarea>
                  </div>
                </div>
                <div class="col-xs-12 col-md-12">
                 Favor de no escribir su teléfono, correo o nombre en la descripción, se agrega automáticamente. 
               </div>

               <div class="col-xs-10 col-md-4 form-margin">
                 <label for="usr">Precio<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                  <br><span id="error_precio" class="alerta" style="display: none;">Coloque un precio valido</span>
                 <input type="number" id="id_precio" name="precio" value="{% if form.precio.value %}{{form.precio.value}}{% else %}0{% endif %}" class="form-control">
               </div>
               <div class="col-md-2 hidden-sm hidden-xs money">
               <span>pesos</span>
              </div>
              <div class="col-xs-12 col-md-12 si-bottom">
                <div class="row">
                  <div class="col-xs-12 col-md-12" style="margin-bottom:-80px;">
                    <!--form enctype="multipart/form-data"-->
                    <label>Fotos</label>
                    <input id="file-es" name="file-es[]" type="file" multiple>
                    <!--/form-->
                    <hr>
                    <br>

                  </div>

                </div>
                <br>
                <br>
                <br>

              </div>
             
              <div class="col-xs-12 col-md-12 si-top si-bottom">
               <label>Condicion<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                <label class="radio-inline">
                  <input type="radio" id="condicion" name="condicion" value="NU" {% if form.condicion.value == "NU" %}checked{% endif %}>Nuevo
                </label>
                <label class="radio-inline">
                  <input type="radio" id="condicion" name="condicion" value="US" {% if form.condicion.value == "US" %}checked{% endif %}>Usado
                </label>
                 <br><span id="error_condicion" class="alerta" style="display: none;">Seleeciona una opción</span>
              </div>
              <br>
              
               <div class="col-xs-12 col-md-12 si-top si-bottom">
               <label>Tipo<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                <label class="radio-inline">
                  <input type="radio" id="tipo" name="tipo" value="ve" {% if form.tipo.value == "ve" %}checked{% endif %}>Venta
                </label>
                <label class="radio-inline">
                  <input type="radio" id="tipo" name="tipo" value="co" {% if form.tipo.value == "co" %}checked{% endif %}>Compra
                </label>
                 <label class="radio-inline">
                  <input type="radio" id="tipo" name="tipo" value="se" {% if form.tipo.value == "se" %}checked{% endif %}>Servicio
                </label>
                 <br><span id="error_tipo" class="alerta" style="display: none;">Selecciona una opción</span>
              </div>
              <br>


              <div class="col-xs-12 col-md-5">
                <div class="form-group">
                  <label for="usr">Nombre<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                  <br><span id="id_error_nombre" class="alerta" style="display: none;">Debe introducir un nombre</span>
                  <input type="text" name="first_name" id="id_nombre" class="form-control" value="{% if object.userPublication %}{{object.userPublication.first_name}}{% else %}{{object.user.first_name}}{% endif %}">
                </div>
              </div>
              <div class="col-xs-12 col-md-5">
                <div class="form-group">
                  <label for="usr">Correo<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                  <br><span id="error_mail" class="alerta" style="display: none;">Introduzca un correo (example@email.com)</span>
                  <span id="error_mail2" class="alerta" style="display: none;">Introduzca un email correcto</span>
                  <input type="text" name="email" id="id_mail" class="form-control" value="{% if object.userPublication %}{{object.userPublication.email}}{% else %}{{object.user.email}}{% endif %}">
                </div>
              </div>

              <div class="col-xs-12 col-md-5">

                <div class="form-group no-bottom">
                  <label for="sel1">Estado<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                  <br><span id="error_estado" class="alerta" style="display: none;">Seleciona un estado</span>
                  <select id="id_estado" class="form-control" name="estado">
                   
                  </select>
                  <br>
                </div>

              </div>

              <div class="col-xs-12 col-md-5">

                <div class="form-group no-bottom">
                  <label for="sel1">Municipio<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                  <br><span id="error_ciudad" class="alerta" style="display: none;">Selecciona una ciudad</span>
                  <select class="form-control" id="id_ciudad" name="ciudad">

                  </select>
                  <br>
                </div>

              </div>

                      <!--div class="col-xs-12 col-md-12 si-bottom">
                        <button type="buttom" class="btn btn-primary btn-md">Seleccione Domicilio en el mapa <i class="fa fa-map-marker"></i></button>
                      </div-->
                      <div class="col-xs-12 col-md-12">
                        <label>Telefono(s)</label>
                      </div>
                      <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                          <label for="usr">Telefono 1<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                          <br><span id="id_error_telefono" class="alerta" style="display: none;">Introduzca numero de teléfono</span>
                          <input type="text" name="telefono" id="id_telefono" class="form-control" value="{% if object.userPublication %}{{object.userPublication.telefono}}{% else %}{{object.user.telefono}}{% endif %}">
                        </div>
                      </div>
                      <div class="col-xs-12 col-md-4">

                        <div class="form-group">
                          <label for="usr">Telefono 2</label>
                          <input type="text" name="telefono2" class="form-control" value="{% if object.userPublication %}{{object.userPublication.telefono2}}{% else %}{{object.user.telefono2}}{% endif %}">
                        </div>
                      </div>
                      
                      <div class="col-xs-6 col-md-5">
                        <div class="form-group">
                          <label for="pwd">Contraseña<i class="fa fa-asterisk indicador" aria-hidden="true"></i></label>
                          <br><span id="id_error_password" class="alerta" style="display: none;">Introduzca una contraseña</span>
                          <span id="id_error_password2" class="alerta" style="display: none;">La contraseña debe poseer 6 o más caracteres y sólo admite los caracteres "A-Z 0-9 _ -"</span>
                          <input type="password" id="id_password" name="password" class="form-control" id="pwd" value="{% if object.userPublication %}{{object.userPublication.password}}{% else %}{{object.user.password}}{% endif %}">
                        </div>
                      </div>

                      <div class="col-xs-12 col-md-12 si-bottom"> 
                       <div id="terminos">
                        <label class="checkbox-inline">
                       

                          <input  type="checkbox" id="id_condiciones" value=""><a href="{% url 'terminos' %}" target="_blank">Acepto los Términos y Condiciones</a>
                          <br><span id="error_terminos" class="alerta" style="display: none;">Debe aceptar os términos y condiciones</span>
                        </label>
                        </div>
                      </div>
                      {{form.errors}}
                      {{autos.errors}}
                      {{users.errors}}
                      <input type="hidden" name="username" value="" id="id_username"></input>


                      <div class="col-xs-12 col-md-12">
                        <input type="submit" class="btn btn-primary btn-md" value="Revisa tu Publicación >" id="publish"> 
                      </div>
                      

                      <!-- Content for Popover #2 -->
                    </div> 
                  </div>  
                </div>
              </form>
            </div>
          </div>


        </body>
        {% endblock content %}


