{% extends 'base2.html' %}
{% load staticfiles %}
{% load functions_extras %}
{% load humanize %}
  
  {% block content %}
	

				<div class="col-xs-4 col-sm-3 col-md-2 estados no-padding">
					<b><h3 class="space-mas">Estados</h3>
					<a class="btn-block" href="/anuncios/Aguascalientes">Aguascalientes</a>
	                <a href="/anuncios/Baja-California"></a>
	                <a class="btn-block" href="/anuncios/Baja-California-Sur">Baja California Sur</a>
	                <a href="/anuncios/Campeche">Campeche</a>
	                <a class="btn-block" href="/anuncios/Chiapas">Chiapas</a>
	                <a href="/anuncios/Chihuahua">Chihuahua</a>
	                <a class="btn-block" href="/anuncios/Coahuila">Coahuila</a>
	                <a href="/anuncios/Colima">Colima</a>
	                <a class="btn-block" href="/anuncios/Distrito-Federal">Distrito Federal</a>
	                <a href="/anuncios/Durango">Durango</a>
	                <a class="btn-block" href="/anuncios/Estado-de-México">Estado de México</a>
	                <a href="/anuncios/Guanajuato">Guanajuato</a>
	                <a class="btn-block" href="/anuncios/Guerrero">Guerrero</a>
	                <a href="/anuncios/Hidalgo">Hidalgo</a>
	                <a class="btn-block" href="/anuncios/Jalisco">Jalisco</a>
	                <a class="btn-block" href="/anuncios/Michoacán">Michoacán</a>
	                <a href="/anuncios/Morelos">Morelos</a>
	                <a class="btn-block" href="/anuncios/Nayarit">Nayarit</a>
	                <a href="/anuncios/Nuevo-León">Nuevo León</a>
	                <a class="btn-block" href="/anuncios/Oaxaca">Oaxaca</a>
	                <a href="/anuncios/Puebla">Puebla</a>
	                <a class="btn-block" href="/anuncios/Querétano">Querétano</a>
	                <a href="/anuncios/Quintana-Roo">Quintana Roo</a>
	                <a class="btn-block" href="/anuncios/San-Luis-Potosí">San Luis Potosí</a>
	                <a href="/anuncios/Sinaloa">Sinaloa</a>
	                <a class="btn-block" href="/anuncios/Sonora">Sonora</a>
	                <a href="/anuncios/Tabasco">Tabasco</a>
	                <a class="btn-block" href="/anuncios/Tamaulipas">Tamaulipas</a>
	                <a href="/anuncios/Tlaxcala">Tlaxcala</a>
	                <a class="btn-block" href="/anuncios/Veracruz">Veracruz</a>
	                <a href="/anuncios/Yucatán">Yucatán</a>
	                <a class="btn-block" href="/anuncios/Zacatecas">Zacatecas</a>		
				</div></b>

					<div class="col-xs-8 col-sm-9 col-md-10 categorias no-padding">
						<div class="col-xs-12 col-sm-12 col-md-12 no-padding" >

		                      
                          <div class="col-xs-12 col-sm-12 col-md-12 si-bottom">
                          	 <div class="col-xs-12 col-sm-1 col-md-1 no-padding icon-1">
                            	<img src="{% static 'image/icon_vehiculos.gif' %}" >
                            </div>
                            <div class="col-xs-12 col-sm-5 col-md-3 cat-1">
                              <h4><b>Vehiculos</h4>
                              <a class="btn-block" href="/anuncios/todo-mexico/Autos-y-Camionetas">Autos y Camionetas</a>
                              <a class="" href="/anuncios/todo-mexico/Autopartes-y-Accesorios">Autopartes y Accesorios</a>
                              <a class="btn-block" href="/anuncios/todo-mexico/Motociletas">Motociletas</a>
                              <a class="" href="/anuncios/todo-mexico/Camiones-y-Comerciales">Camiones y Comerciales</a>
                              <a class="btn-block" href="/anuncios/todo-mexico/Náutica-y-Aviación">Náutica y Aviación</a>
                            </div>

                             <div class="col-xs-12 col-sm-1 col-md-1 icon-2">
                            	<img src="{% static 'image/icon_inmuebles.gif' %}" >
                            </div>
                            <div class="col-xs-12 col-sm-5 col-md-3 cat-2">
                             <h4><b>Inmuebles</b></h4>
                              <a class="btn-block" href="/anuncios/todo-mexico/Casas">Casas</a>
                              <a class="" href="/anuncios/todo-mexico/Departamentos">Departamentos</a>
                              <a class="btn-block" href="/anuncios/todo-mexico/Terrenos-y-Lotes">Terrenos y Lotes</a>
                              <a class="" href="/anuncios/todo-mexico/Asistencias-y-Cuartos">Asistencias y Cuartos</a>
                              <a class="btn-block" href="/anuncios/todo-mexico/Casas-de-Campo">Casas de Campo</a>
                              <a class="" href="/anuncios/todo-mexico/Traspasos">Traspasos</a>
                              <a class="btn-block" href="/anuncios/todo-mexico/Rentas-Vacacionales">Rentas Vacacionales</a>
                            </div>

                             <div class="col-xs-12 col-sm-1 col-md-1 no-padding icon-1">
                            	<img src="{% static 'image/icon_electronica.gif' %}">
                            </div>
                            <div class="col-xs-12 col-sm-5 col-md-3 cat-3">
                            <h4><b>Electrónica</b></h4>
                              <a class="btn-block" href="/anuncios/todo-mexico/Telefonos">Telefonos</a>
                              <a class="" href="/anuncios/todo-mexico/Computadoras-y-Tablets">Computadoras y Tablets</a>
                              <a class="btn-block" href="/anuncios/todo-mexico/Audio,-TV,-Fotos-y-Videos">Audio, TV, Fotos y Videos</a>
                              <a class="" href="/anuncios/todo-mexico/Consolas-y-Videojuegos">Consolas y Videojuegos</a>
                              <a class="btn-block" href="/anuncios/todo-mexico/Otros-Electrónicos">Otros Electrónicos</a>
                            </div></b>

                          </div>

                          <div class="col-xs-12 col-sm-12 col-md-12 si-bottom">
                           <div class="col-xs-12 col-sm-1 col-md-1 no-padding icon-3">
                            	<img src="{% static 'image/icon_tiempo_libre.gif' %}" >
                            </div>
                            <b><div class="col-xs-12 col-sm-5 col-md-3 cat-1">
                            <h4><b>Tiempo Libre </b></h4>
                              <a class="btn-block" href="/anuncios/todo-mexico/Animales-y-Mascotas">Animales y Mascotas</a>
                              <a class="" href="/anuncios/todo-mexico/Bicicleta">Bicicleta</a>
                              <a class="btn-block" href="/anuncios/todo-mexico/Deportes">Deportes</a>
                              <a class="" href="/anuncios/todo-mexico/Instrumentos-Musicales">Instrumentos Musicales</a>
                              <a class="btn-block" href="/anuncios/todo-mexico/Caza,-Pesca-y-Camping">Caza, Pesca y Camping</a>
                              <a class="" href="/anuncios/todo-mexico/Hobby-y-Coleccionables">Hobby y Coleccionables</a>
                              <a class="btn-block" href="/anuncios/todo-mexico/Libros">Libros</a>
                              <a class="" href="/anuncios/todo-mexico/Boletos">Boletos</a>
                              <a class="btn-block" href="/anuncios/todo-mexico/Viajes-y-Vacaciones">Viajes y Vacaciones</a>
                            </div>

                            <div class="col-xs-12 col-sm-1 col-md-1 icon-4">
                            	<img src="{% static 'image/icon_empleo.gif' %}" >
                            </div>
                            <div class="col-xs-12 col-sm-5 col-md-3 cat-2">
                            <h4><b>Personal</h4>
                              <a class="btn-block" href="/anuncios/todo-mexico/Ropa-y-Zapatos">Ropa y Zapatos</a>
                              <a class="" href="/anuncios/todo-mexico/Articulos-para-Niños">Articulos para Niños</a>
                              <a class="btn-block" href="/anuncios/todo-mexico/Accesorio-y-relojes">Accesorio y relojes</a>
                              <a class="" href="/anuncios/todo-mexico/Salud-y-Belleza">Salud y Belleza</a>
                              <a class="btn-block" href="/anuncios/todo-mexico/Amor-y-Amistad">Amor y Amistad</a>
                              <a class="" href="/anuncios/todo-mexico/Empleo">Empleo</a>
                              <a class="btn-block" href="/anuncios/todo-mexico/Servcios-y-Eventos">Servcios y Eventos</a>
                            </div>

                            <div class="col-xs-12 col-sm-1 col-md-1 no-padding icon-4">
                            	<img src="{% static 'image/icon_hogar.gif' %}" >
                            </div>
                            <div class="col-xs-12 col-sm-5 col-md-3 cat-3">
                            <h4><b>Hogar y Oficina</b></h4>
                              <a class="btn-block" href="/anuncios/todo-mexico/Electrodomésticos">Electrodomésticos</a>
                              <a class="" href="/anuncios/todo-mexico/Mueble-y-Decoracion">Mueble y Decoracion</a>
                              <a class="btn-block" href="/anuncios/todo-mexico/Jardin-y-Exterior">Jardin y Exterior</a>
                              <a class="" href="/anuncios/todo-mexico/Maquinaria-y-Construcción">Maquinaria y Construcción</a>
                              <a class="btn-block" href="/anuncios/todo-mexico/Articulos-para-la-Oficina">Articulos para la Oficina</a>
                              <a class="" href="/anuncios/todo-mexico/Restaurantes-y-Comidas">Restaurantes y Comidas</a>
                              <a class="btn-block" href="/anuncios/todo-mexico/Todo-lo-demás">Todo lo demás</a>
                            </div></b>
                          </div>
                        </div>
                    </div>
                     

			<div id="" class="col-xs-12 col-sm-9 col-md-10 si-bottom space-mas">
                     {% for publicacion in publicaciones %}
                       <div class="media">

                         <a href="{% url 'anuncio' publicacion.slug %}" class="pull-left">
                          <img src="{{publicacion.get_imagen}}" class="media-object img-responsive" alt="imagen" width="90">
                        </a>
                        <div class="media-body pic-publication">

                         <h5 class="media-heading">
                         <a href="{% url 'anuncio' publicacion.slug %}"><b>{{publicacion.titulo}}</b></a> <small><i>{{publicacion.estado.estado}}</i></small></h5>
                         <P class="descripcion">{{publicacion.descripcion|truncatechars:70}}</P>
                         <p class="no-bottom precio"><b><span>${{publicacion.precio|pricecomma}}</span></b></p>
                        <p>{{publicacion.date|naturalday}} {{publicacion.date|date:"f a"}}</p>

                       </div>
                     </div>
                     <hr>
                    {% endfor %}
        

                      	
                </div>


		</div>
		
	{% endblock content %}

	{% block js %}
	<!--script src="{% static 'js/home.js' %}"></script-->
	{% endblock js %}
