{% extends 'base2.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load functions_extras %}
{% load humanize %}
        
    {% block content %}

      <div class="col-xs-12 col-md-12 no-padding">
        <ul class="breadcrumb">

          <li>Estas en: <a href="{% url 'listado' %}">Anuncios</a></li>
          {% if estadoslug %}<li><a href="{% url 'listado' estadoslug %}">{{estado}}</a></li>{% endif %}
          {% if catslug %}<li><a href="{% url 'listado' estadoslug catslug %}">{{cat}}</a></li>{% endif %}
          {% if request.GET.Tipo %}<li><a href="{% url 'listado' estadoslug catslug %}?">{{request.GET.Tipo}}</a></li>{% endif %}
          {% if request.GET.particular_o_negocio %}<li><a href="{% url 'listado' estadoslug catslug %}">{{request.GET.particular_o_negocio}}</a></li>{% endif %}
          {% if tituloslug %}<li><p>{{titulo}}</p></li>{% endif %}
          <!--h5>Mostrando anuncios 1 a 30 de 59,383 <span class="right"><a href="#" class="filtro">Fecha </a><i class="fa fa-long-arrow-down" aria-hidden="true"></i><a href="#" class="filtro"> Precio</a></span></h5-->
        </ul>
  </div>
				<div class="col-xs-4 col-sm-3 col-md-3 estados no-padding">
					<h4 class="space-mas"><i class="fa fa-search" aria-hidden="true"></i> Filtra tu Busqueda</h4>
          {% if categorias %}
            <h4 class="title-filtro">Categorias:</h4>
            {% for link, cat in categorias %}
              <a class=" filtro" href="{% url 'listado' estadoslug link %}{% if request.GET %}?{% for key,value in request.GET.iteritems %}&{{key}}={{value}}{% endfor %}{% endif%}">{{cat}}</a><br>
            {% endfor %}
          {% endif %}
           
          {% if subcat %}
          <h4 class="title-filtro">{{subcat}}</h4>
          <div id="subcat" >
          {% for link,subc in valsubcat %}          
            <a class="filtro" href="{% url 'listado' estadoslug catslug %}?{{subcat}}={{link}}{% for key,value in request.GET.iteritems %}{% if key != subcat %}&{{key}}={{value}}{% endif %}{% endfor %}">{{subc}}</a><br>
          {% endfor %}
          </div>
          <a class="btn-block filtro" id="verMasSubCat" href="#">Ver Más...</a>
          {% endif %}
            
          
          {% if request.GET.Tipo %}
          {% else %}
          <h4 class="title-filtro">Tipos:</h4>
            <a class="btn-block filtro" href="{% if catslug %}{% url 'listado' estadoslug catslug %}{% else %}{% url 'listado' estadoslug %}{% endif %}?Tipo=Venta{% for key,value in request.GET.iteritems %}&{{key}}={{value}}{% endfor %}">Venta ({{tipoventa}})</a>
            <a href="{% if catslug %}{% url 'listado' estadoslug catslug %}{% else %}{% url 'listado' estadoslug %}{% endif %}?Tipo=Compra{% for key,value in request.GET.iteritems %}&{{key}}={{value}}{% endfor %}" class="filtro">Compra ({{tipocompra}})</a>
            <a class="btn-block filtro" href="{% if catslug %}{% url 'listado' estadoslug catslug %}{% else %}{% url 'listado' estadoslug %}{% endif %}?Tipo=Servicio{% for key,value in request.GET.iteritems %}&{{key}}={{value}}{% endfor %}">Servicio ({{tiposervicio}})</a>
          {% endif %}
            
            {% if request.GET.particular_o_negocio %}
            {% else %}
            <h4 class="title-filtro">Particular/Negocios:</h4>
            <a class="btn-block filtro" href="{% if catslug %}{% url 'listado' estadoslug catslug %}{% else %}{% url 'listado' estadoslug %}{% endif %}?particular_o_negocio=Particular{% for key,value in request.GET.iteritems %}&{{key}}={{value}}{% endfor %}">Particular ({{pot_particular}})</a>
            <a href="{% if catslug %}{% url 'listado' estadoslug catslug %}{% else %}{% url 'listado' estadoslug %}{% endif %}?particular_o_negocio=Negocio{% for key,value in request.GET.iteritems %}&{{key}}={{value}}{% endfor %}" class="filtro">Negocio ({{pot_negocio}})</a>
            {% endif %}
          
          {% if estados %}
					<h4 class="title-filtro">Estados</h4>
          <div id="divEstados">
          {% for estslug,est in estados %}
            <a class=" filtro" href="{% if catslug %}{% url 'listado' estslug catslug %}{% else %}{% url 'listado' estslug %}{% endif %}{% if request.GET %}?{% for key,value in request.GET.iteritems %}&{{key}}={{value}}{% endfor %}{% endif %}">{{est}}</a><br>
          {% endfor %}
            </div>
            <a class="btn-block filtro" id="verMasEstados" href="#">Ver Más...</a>
          {% endif %}
				</div></b>
                     

			<div class="col-xs-12 col-sm-9 col-md-9 si-bottom no-padding">
            {% for object in object_list %}
             <div class="col-xs-12 col-md-12">
              <div class="media">
                <a href="{% url 'anuncio' object.slug %}" class="pull-left">

                  {% thumbnail object.get_imagen_thumb "250x250" crop="center" as im %}
                 <img src="{{im.url}}" class="media-object img-responsive" alt="imagen" width="150">
                 {% empty %}
                 <img src="{% static 'image/avatar_default.png' %}" class="media-object img-responsive" alt="imagen" width="150">
                 {% endthumbnail %}
               </a>
               <div class="media-body pic-publication">
                 <a href="{% url 'anuncio' object.slug %}"><h4 class="media-heading"><b>{{object.titulo}}</b></h4></a>
                 <small><i>{{object.estado.estado}}</i></small>
                 <p class="no-bottom precio"><b><span>${{object.precio|pricecomma}}</span></b></p>
                 <p>{{object.date|naturalday}}</p><p> {{object.date|date:"f a"}}</p>

               </div>
             </div>
             <hr>
           </div>
           {% endfor %}


                      	

        </div>
        {% if is_paginated %}
          <div class="col-xs-12 col-sm-9 col-sm-offset-2 col-md-9 si-bottom right no-padding">
            <ul class="pagination">
            {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.iteritems %}{% if key != 'page' %}&{{key}}={{value}}{% endif %}{% endfor %}"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
            {% endif %}
              {% for i in paginator.page_range %}

                <li {% if page_obj.number == i %}class="active"{% endif %}><a href="?page={{i}}{% for key,value in request.GET.iteritems %}{% if key != 'page' %}&{{key}}={{value}}{% endif %}{% endfor %}">{{i}}</a></li>
              {% endfor %}
               {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.iteritems %}{% if key != 'page' %}&{{key}}={{value}}{% endif %}{% endfor %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>

              {% endif %}
            </ul>
          </div>
        {% endif %}

		</div>
		
  {% endblock content %}
