{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
    
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body> hola
<form action="" method="post">
    {% csrf_token %}
   
<label>Titulo</label>
<input id="id_titulo" name="titulo" type="text" value="" placeholder="titulo">
<span id="error_titulo" style="display: none;">* Debe escribir un titulo</span>

<p><label>Categoria:</label> 
<select id="id_categoria" name="categoria">
	<option value="" selected>Seleccione</option>
	<option value="AyC">Autos y Camionetas</option>
</select></p>
<span id="error_categoria" style="display: none;">* Debe seleccionar una categoria</span>

<div id="id_AyC" style="display: none;">
	<label>Marca:</label> 
	<select id="id_Marca_AyC" name="marca">
		<option value="">Seleccione</option>
		{% for id,marca in autos.marca.field.choices %}
		<option value="{{id}}">{{marca}}</option>
		{% endfor %}
	</select>
	<span id="error_marca_AyC" style="display: none;">* Debe seleccionar una marca</span>

	<label>Modelo:</label> 
	<select id="id_Modelo_AyC" name="modelo">
		<option value="">Seleccione</option>
	</select>
</div>

<div><label>Particuloar o negocio</label>
<input id="pot" type="radio" name="particular_o_negocio" value="partiular">
<input id="pot" type="radio" name="particular_o_negocio" value="negocio">
<span id="error_radio" style="display: none;">* Debe seleccionar una opción</span>
</div>

<label>Correo</label>
<input id="id_mail" name="email" value="" placeholder="correo electronico">
<span id="error_mail" style="display: none;">* Debe escribir una direccion de Correo electronico</span>
<span id="error_mail2" style="display: none;">* Debe cumplir este formato: example@email.com</span>

<p><label>Estado:</label> 
<select id="estado" name="estado">
	<option value="" selected>Seleccione</option>

	{% for id,estado in form.estado.field.choices %}
		<option value="{{id}}">{{estado}}</option>
	{% endfor %}
</select></p>
<p><label for="id_ciudad">Ciudad:</label> 

<select id="id_ciudad" name="ciudad">
	<option value="">Seleccione</option>
</select></p>
    <input id="publish" type="submit" value="Submit" />
</form>

<script>
	var val_email = /^[a-zA-Z0-9_\.\-]+@[a-zA-Z0-9_\.\-]+\.[a-zA-Z0-9_\.\-]+$/;
	var campos_cat = "";
	$(document).ready(function(){
		$('#id_Marca_AyC').on('change',modelos_AyC);
		$('#estado').on('change',ciudades);


		$('#id_categoria').on('change', function(){

			var categoria = $('#id_categoria');
			if(categoria.val() == ""){
				$('#error_categoria').fadeIn();
			}else{
				$('#error_categoria').fadeOut();
				
				ocultar_cat();
				mostrar_cat(categoria.val());
			}
			
		});
		$('#pot').on('change',function(){
			rad=$('#pot:checked');
			if(rad.length == 0){
				$('#error_radio').fadeIn();
			}else{
				$('#error_radio').fadeOut();
			}
		});
		$('#id_titulo').on('change',function(){
			var titulo = $('#id_titulo').val();
			if(titulo == ""){
				$('#error_titulo').fadeIn();
			}else{
				$('#error_titulo').fadeOut();
			}

		});
		$('#id_mail').on('change',function(){
			var correo = $('#id_mail').val();
			if(correo == ""){
				$('#error_mail').fadeIn();
				$('#error_mail2').fadeOut();
			}else{
				$('#error_mail').fadeOut();
			
				if(!val_email.test(correo)){
					$('#error_mail2').fadeIn();
				}else{
					$('#error_mail2').fadeOut();
				}
			}
		});

		$('#id_Marca_AyC').on('change',function(){
			var marca = $('#id_Marca_AyC');
			if(marca.val() == ""){
				$('#error_marca_AyC').fadeIn();
			}else{
				$('#error_marca_AyC').fadeOut();
			}				
		});	

		$('#publish').click(function(){
			var titulo = $('#id_titulo').val();
			var categoria = $('#id_categoria');
			var correo = $('#id_mail').val();
			var radio = $('input[type = "radio"]:checked');
			submit = true;

			if(titulo == ""){
				$('#error_titulo').fadeIn();
				submit = false;
			}else{
				$('#error_titulo').fadeOut();
				
			}

			if(correo == ""){
				$('#error_mail').fadeIn();
				$('#error_mail2').fadeOut();
				submit = false;
			}else{
				$('#error_mail').fadeOut();
				
			
				if(!val_email.test(correo)){
					$('#error_mail2').fadeIn();
					submit = false;
				}else{
					$('#error_mail2').fadeOut();
					
				}
			}
			if(radio.length == 0){
				$('#error_radio').fadeIn();
				submit = false;
			}else{
				$('#error_radio').fadeOut();
				
			}

		
			if(categoria.val() == ""){
				$('#error_categoria').fadeIn();
				submit = false;
			}else{
				$('#error_categoria').fadeOut();
				
			}

			switch(campos_cat){
				case 'AyC':
				var marca = $('#id_Marca_AyC');
				if(marca.val() == ""){
					$('#error_marca_AyC').fadeIn();
					submit = false;
				}else{
					$('#error_marca_AyC').fadeOut();
					
				}
				break;
			}

			return submit;

		});


	});

		function mostrar_cat(cat){
			console.log(cat);
			switch(cat){
				case 'AyC':
				$('#id_AyC').fadeIn();
				campos_cat=cat;
				break;
				}
		}

		function ocultar_cat(){
			$('#id_AyC').fadeOut();

		}

		function modelos_AyC(){
			var id = $(this).val();
			if (id!=""){
				$.ajax({
					data : {'id':id},
					url : /modelos/,
					type : 'get',
					success : function(data){
						var html = ""
						for(var i = 0; i<data.length ; i++){
							html += '<option value="'+data[i].fields.id+'">'+data[i].fields.modelo+'</option>'
						}
						$('#id_Modelo_AyC').html(html);
					}

				});
			}else{
				var html = ""
				html += '<option value="">Seleccione</option>'
				$('#id_Modelo_AyC').html(html);
			}
		}
	
		function ciudades(){
			var id = $(this).val();
			if (id!=""){
				$.ajax({
					data : {'id':id},
					url : /ciudad/,
					type : 'get',
					success : function(data){
						var html = ""
						for(var i = 0; i<data.length ; i++){
							html += '<option value="'+data[i].fields.id+'">'+data[i].fields.ciudad+'</option>'
						}
						$('#id_ciudad').html(html);
					}

				});
			}else{
				var html = ""
				html += '<option value="">Seleccione</option>'
				$('#id_ciudad').html(html);
			}
		
		
	
	}
	
</script>



</body>
</html>

