{% extends 'base2.html' %}
{% load staticfiles %}
{% load thumbnail %}
	{% block content %}   
		<h2 class="page-header center top-header">Confirmacion para eliminar {{ object }}</h2> <!-- Cambio -->
    	<form class="center" method="post" action=""><!-- Cambio -->
        {% csrf_token %}
        <p>¿Seguro que quieres eliminar el articulo {{ object }}?</p>
        <button type="submit" class="btn btn-danger">Si, eliminar</button>
        <a href="{% url 'editar-anuncio' object.slug %}" class="btn btn-success">Cancelar</a>
    </form>
	{% endblock %}