  {% extends 'base.html' %}
  {% load staticfiles %}
  {% load functions_extras %}
  {% block css %}
  <link href="{% static 'css/fileinput.min.css' %}" media="all" rel="stylesheet" type="text/css" />
  {% endblock css %}

  {% block js %}
    <script type="text/javascript">
      
      var csrftoken = '{{ csrf_token }}';
    
    

    </script>
  {% endblock js %}


  
  {% block content %}


  <body class="color-fondo">
    <div class="container">
      <div class="row">
        <div class="col-md-12 space-mas" style="margin-top: 5%;"></div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <!-- Logo -->
          <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4">
           <a href="{% url 'home' %}"> <img src="{% static 'image/logo.png' %}" class="img-responsive logo" width="315"></a>
          </div>
          <!-- NavBar -->
          <div class="col-xs-12 col-sm-4 col-md-8 col-lg-8 nav-bar">
            <a href="{% url  'home' %}"><b>Inicio</b></a>
            <span>|</span>
            <a href="{% url 'listado' %}"><b>Anuncios</b></a>
            <span>|</span>
            <a href="#"><b>Favoritos</b></a>
            <span>|</span>
            <a href="#"><b>Ayuda</b></a>
          </div>
          <!-- Banner -->
          <div class="col-md-9 space-menos"></div>
          <!-- Panel Formulario -->
          <form method="post" action="" enctype="multipart/form-data" id="formenv">
            {% csrf_token %}
            <div class="col-md-9 space-menos"></div>
            <div class="col-xs-12 col-md-12">
              <div class="panel panel-primary no-radius">
                <div class="panel-body">
                    
<h3 class="terminos">AVISO LEGAL Y CONDICIONES DE USO DE LA WEB</h3>

<p>FLUIDRA MEXICO, S.A. DE CV  (en adelante “FLUIDRA”), con domicilio social en AV. de la Industria, nº 138, Moctezuma 2A, Sección Distrito Federal 15530 (México), es titular de la página web www.fluidra.mx (En adelante el “Sitio Web”).

ACCESO Y CONDICIONES DE USO DEL SITIO WEB

Las presentes Condiciones de Uso (En adelante las “Condiciones”),  tienen por finalidad facilitar al usuario información relativa a FLUIDRA, sus actividades y productos, noticias publicadas, así como sus distintas áreas de negocio.

Este Sitio Web tiene carácter informativo.

Tanto la navegación, como el acceso a la información publicada en el Sitio Web, suponen la aceptación como Usuario, sin reservas de ninguna clase, de todas y cada una de las presentes Condiciones. Si no acepta las presentes condiciones, le rogamos se abstenga de utilizar el Sitio Web y su contenido.

FLUIDRA podrá, en todo momento y sin previo aviso, modificar las presentes Condiciones, todo ello expuesto en el Sitio Web, mediante la publicación de dichas modificaciones en el mismo, con el fin de que puedan ser conocidas por los Usuarios, siempre antes de la visita al Sitio Web.

FLUIDRA podrá denegar el acceso al Sitio Web a los Usuarios que hagan un mal uso de los contenidos y/o incumplan cualquiera de las condiciones que aparecen en el presente documento.

Acceso y Utilización

El acceso al Sitio Web es gratuito, salvo en lo relativo al coste de la conexión a través de la red de telecomunicaciones suministrada por el proveedor de acceso contratado por el Usuario.

El usuario se compromete a hacer un uso diligente del Sitio Web, así como de la información contenida en el mismo, con total sujeción tanto a la normativa aplicable, como a las presentes Condiciones.

Obligación de hacer un uso correcto

Los Usuarios son íntegramente responsables de su conducta, al acceder a la información del Sitio, mientras naveguen o accedan en las mismas, así como después de haber accedido.

El Usuario se compromete a la correcta utilización del Sitio Web y utilidades que se le proporcionen conforme a la Ley, las presentes Condiciones, las instrucciones y avisos que se le comuniquen, así como con la moral y las buenas costumbres generalmente aceptadas y al orden público.

El Usuario se obliga al uso exclusivo del Sitio Web, así como todos sus contenidos, para fines lícitos y no prohibidos, que no infrinjan la legalidad vigente y/o puedan resultar lesivos de los derechos legítimos de FLUIDRA o de cualquier tercero y/o que puedan causar cualquier daño o perjuicio de forma directa o indirecta.

De conformidad con lo dispuesto anteriormente, se entenderá por contenido sin que esta enumeración tenga carácter limitativo: los textos, fotografías, gráficos, imágenes, iconos, tecnología, software, links y demás contenidos audiovisuales o sonoros, así como su diseño gráfico y códigos fuente (en adelante, todo ello el/los “Contenido/s”), de conformidad con la Ley, las presentes Condiciones, los demás avisos, reglamentos de uso e instrucciones puestos en su conocimiento, así como con la moral y las buenas costumbres generalmente aceptadas y el orden público, y, en particular, se compromete a abstenerse de: reproducir, copiar, distribuir, poner a disposición o de cualquier otra forma comunicar públicamente, transformar o modificar los Contenidos, a menos que se cuente con la autorización del titular de los correspondientes derechos o ello resulte legalmente permitido; o se realice, en su caso, por los botones habilitados por FLUIDRA para redes sociales. En este sentido, el Usuario no podrá suprimir, manipular o de cualquier forma alterar el “copyright” y demás datos identificativos de la reserva de derechos de FLUIDRA o de cualesquiera otros medios técnicos establecidos para su reconocimiento.

El Usuario se compromete, a título meramente enunciativo y no limitativo, a no transmitir, difundir o poner a disposición de terceros informaciones, datos, contenidos, mensajes, gráficos, dibujos, archivos de sonido y/o imagen, fotografías, grabaciones, software y, en general, cualquier clase de material propiedad de este Sitio Web, así como a abstenerse de realizar actos, que:

–        Induzcan, inciten o promuevan actuaciones delictivas, difamatorias, violentas o, en general, contrarias a la Ley, a la moral y buenas costumbres generalmente aceptadas o al orden público;

–        Sean falsos, ambiguos, inexactos, exagerados o extemporáneos, de forma que induzcan o puedan inducir a error sobre su objeto o sobre las intenciones o propósitos del comunicante;

–        Se encuentren protegidos por cualesquiera derechos de propiedad intelectual o industrial pertenecientes a terceros, sin que el Usuario haya obtenido previamente de sus titulares la autorización necesaria para llevar a cabo el uso que efectúa o pretende efectuar;

–        Constituyan, en su caso, publicidad ilícita, engañosa o desleal y, en general, que constituyan competencia desleal o vulneren las normas reguladoras de la protección de datos de carácter personal.

–        Incorporen virus u otros elementos físicos o electrónicos que puedan dañar o impedir el normal funcionamiento de la red, del sistema o de equipos informáticos (hardware y software) de FLUIDRA.

–        Provoquen por sus características (tales como formato o extensión, entre otras) dificultades en el normal funcionamiento de los servicios ofrecidos por este Sitio Web.

El usuario responderá de los daños y perjuicios de toda naturaleza que FLUIDRA COMERCIAL, pueda sufrir como consecuencia del incumplimiento de cualesquiera de las obligaciones a las que queda sometido en virtud de las presentes Condiciones o de la legislación aplicable en relación con la utilización del Sitio Web.</p>

<h3 class="terminos">EXONERACIÓN DE RESPONSABILIDAD DE FLUIDRA</h3>

<p>A título enunciativo pero no limitativo, FLUIDRA no asumirá responsabilidad alguna:

–        De la utilización que los Usuarios puedan hacer de los materiales de este Sitio Web, y/o webs de enlace, ya sean prohibidos o permitidos, en infracción de los derechos de propiedad intelectual y/o industrial de contenidos de la web o de terceros.

–        De los eventuales daños y perjuicios a los Usuarios causados por un funcionamiento normal o anormal de las herramientas de búsqueda, de la organización o la localización de los contenidos y/o acceso al Sitio Web y, en general, de los errores o problemas que se generen en el desarrollo o instrumentación de los elementos técnicos que el Sitio Web o un programa facilite al Usuario.

–        De los contenidos de aquellas páginas a las que los Usuarios puedan acceder desde enlaces incluidos en el Sitio Web, ya sean autorizados o no.

FLUIDRA informa que no garantiza:

–        Que el acceso al Sitio Web, y/o a las webs de enlace sea ininterrumpido o de error.

–        Que el contenido o software al que los Usuarios accedan a través del Sitio Web, o de las webs de enlace no contenga error alguno, virus informático u otros elementos en los contenidos que puedan producir alteraciones en su sistema o en los documentos electrónicos y ficheros almacenados en su sistema informático o cause otro tipo de daño;

La información contenida en el Sitio Web debe ser considerada por los Usuarios como divulgativa y orientadora, tanto con relación a su finalidad como a sus efectos, motivo por el cual:

FLUIDRA no garantiza la exactitud de la información contenida en el Sitio Web y por consiguiente no asumen responsabilidad alguna sobre los posibles perjuicios o incomodidades para los Usuarios que pudiesen derivarse alguna inexactitud presente en el mismo.</p>

<h3 class="terminos">POLÍTICA DE PRIVACIDAD: PROTECCIÓN DE DATOS PERSONALES</h3>

<p>Los Usuarios se comprometen a navegar por la página web y a utilizar el contenido de la misma de buena fe.

En cumplimiento de lo establecido en la Ley Orgánica 15/1999, de Protección de Datos de Carácter Personal, informamos que, los datos de carácter personal incorporados para la cumplimentación de cualquier formulario existente en este Sitio Web o la remisión de un correo electrónico a cualquiera de nuestros buzones:

1º.- Serán tratados con la máxima confidencialidad y formarán parte de los ficheros titularidad de FLUIDRA para su gestión y dar respuesta a los mismos, así como, para la gestión comercial que los vincule, y el envío a través de email de las solicitudes de información que se realicen a través de este Sitio Web.

2º.- Implica la aceptación de esta política de privacidad, así como la autorización a FLUIDRA para que trate los datos personales que se le faciliten.

Por la mera visita al Sitio Web, los Usuarios no facilitan información personal alguna ni queda obligado a facilitarla.

Conforme a la legislación vigente en materia de protección de datos, FLUIDRA ha adoptado los niveles de seguridad adecuados a los datos facilitados por los Usuarios y, además, ha instalado todos los medios y medidas a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y extracción de los mismos.

Derechos de acceso, rectificación, cancelación y oposición

En cualquier momento y conforme establece la citada Ley Orgánica, los Usuarios podrán ejercitar los derechos de acceso, rectificación, cancelación y oposición de sus datos personales, mediante petición escrita dirigida a la dirección de correo electrónico lopd@fluidra.com o a la atención del Departamento Jurídico en la dirección postal: Avda.  Francesc Macià 60, pl. 20 de Sabadell,  (Barcelona), indicando según sea conveniente, de forma visible el concreto derecho que se ejerce, así como adjuntando copia del DNI.</p>

<h3 class="terminos">UTILIZACIÓN DE COOKIES</h3>

<p>Para la utilización de este Sitio Web, es necesaria la utilización de cookies y pequeños ficheros de datos. Las cookies se utilizan con la finalidad de mejorar el servicio prestado por FLUIDRA COMERCIAL y son aceptadas por el Usuario en el momento de acceder al Sitio Web.  En ningún caso se almacenará ningún tipo de información personal relativa a los Usuarios  y toda la información obtenida será anónima. Si el Usuario lo desea, puede configurar su navegador para impedir la instalación de cookies en su disco duro, para lo cual le aconsejamos que consulte las instrucciones y manuales de su navegador.</p>

<h3 class="terminos">PROPIEDAD INTELECTUAL E INDUSTRIAL</h3>

<p>FLUIDRA ostenta todos los derechos sobre el contenido, diseño y código fuente del Sitio Web y, en especial, con carácter enunciativo pero no limitativo, sobre las fotografías, imágenes, textos, logos, diseños, marcas, nombres comerciales y datos que se incluyen en la web o aplicación.

Se advierte a los Usuarios de que tales derechos están protegidos por la legislación vigente española e internacional relativa a la propiedad intelectual e industrial.

Queda expresamente prohibida la reproducción total o parcial del Sitio Web, ni siquiera mediante un hiperenlace, ni de cualquiera de sus contenidos, sin el permiso expreso y por escrito de FLUIDRA.

Asimismo queda totalmente prohibida la copia, reproducción, adaptación, modificación, distribución, comercialización, comunicación pública y/o cualquier otra acción que comporte una infracción de la normativa vigente española y/o internacionales en materia de propiedad intelectual y/o industrial, así como el uso de los contenidos de la web o aplicación si no es con la previa autorización expresa y por escrito de FLUIDRA.

FLUIDRA informa que no concede licencia o autorización implícita alguna sobre los derechos de propiedad intelectual y/o industrial o sobre cualquier otro derecho o propiedad relacionada, directa o indirectamente, con los contenidos incluidos en la web o aplicación.</p>

<h3 class="terminos">GUÍA DE USO SEGURO:</h3>

<p>Phishing

No utilice enlaces incorporados en e-mails o páginas Web de terceros para acceder a este Sitio Web. Periódicamente se detectan envíos de correos masivos indiscriminados, remitidos desde direcciones electrónicas falsas, con el único objetivo de conseguir información confidencial de los Usuarios. A esta técnica se la conoce con el nombre de “PHISHING”. FLUIDRA declina cualquier responsabilidad ajena a este respecto.

<h3 class="terminos">LEGISLACIÓN APLICABLE Y JURISDICCIÓN</h3>

<p>El acceso y utilización del Sitio Web se regirá e interpretará de conformidad con la legislación española. Cualquier controversia que pudiera surgir entre FLUIDRA y los usuarios del Sitio Web, será dirimida, con renuncia expresa de las Partes a su propio fuero, por los Juzgados y Tribunales de la ciudad de Barcelona.</p>
                    
                    </div> 
                  </div>  
                </div>
              </form>
            </div>
          </div>


        </body>
        {% endblock content %}


