{% extends "base2.html" %}
{% load staticfiles %}
          {% block content %}
          <!-- Banner -->
          <div class="col-md-9 space-menos"></div>
         
          <!-- Panel Formulario -->
          <div class="col-md-9 space-menos"></div>
          <div class="col-xs-12 col-md-12 space-mas">
            <img class="img-responsive" src="{% static 'image/error-500.png' %}" alt="500 INTERNAL SERVER ERROR" style="margin: 0 auto;">
          </div>


{% block js %}
  <script>
}
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>
{% endblock js %}