{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  {% block css %}{% endblock css %}
</head>


          {% block content %}{% endblock content %}
          

          
<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44768819-10', 'auto');
  ga('send', 'pageview');

</script>
   <script src="{% static 'js/jquery-1.12.2.min.js' %}"></script>
    {% block js %}{% endblock js %}
    <script>
   var Cat={% if categoria %}"{{categoria}}"{% else %}null{% endif %};
   var id_Cat={% if id_categoria %}"{{id_categoria}}"{% else %}null{% endif %};
   var id_publicacion = {% if object.id %}{{object.id}}{% else %}null{% endif %};
   var update={% if update %}true{% else %}false{% endif %};
   var imagenes=[{% for imagen in object.imagenes.all %}"<img src='{{imagen.get_images}}' class='file-preview-image' alt='Desert' title='Desert' image='{{imagen.id}}'>",{% endfor %}"final"];
    var imagenes_config=[];
      {% for imagen in object.imagenes.all %}
      imagenes_config.push({
        caption: 'desert.jpg', 
        width: '120px', 
        url: '/image/delete/', // server delete action 
        key: '{{imagen.id}}', 
        extra: {csrfmiddlewaretoken: csrftoken }
      });
      {% endfor %}
    
  

   imagenes.pop();
   var marca = null;
   var modelo = null;
   var anio = null;
   var transmision = null;
   var combustible = null;
   var kilometraje = null;
   var estado=null;
   var ciudad=null;
   var estado={% if object.estado.id %}{{object.estado.id}}{% else %}null{% endif %};
   var ciudad={% if object.ciudad.id %}{{object.ciudad.id}}{% else %}null{% endif %};
   if (id_Cat=="AyC"){
     var marca = "{{object.autos_y_camionetas.marca.id}}";
     var modelo = "{{object.autos_y_camionetas.modelo.id}}";
     var anio = "{{object.autos_y_camionetas.anio}}";
     var transmision = "{{object.autos_y_camionetas.transmision}}";
     var combustible = "{{object.autos_y_camionetas.combustible}}";
     var kilometraje = "{{object.autos_y_camionetas.kilometraje}}";
   }
   
  </script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  <script src="{% static 'js/popovers.js' %}"></script>
  <script src="{% static 'js/plugins/canvas-to-blob.js' %}"></script>
  <script src="{% static 'js/fileinput.js' %}"></script>
  <script src="{% static 'js/fileinput_locale_es.js' %}"></script>

  

  
</html>

