{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static 'image/favicon.png' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  {% block css %}{% endblock css %}
</head>

<body>

    <div class="container">
      <div class="row">
        <div class="col-md-12 space-mas"></div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="col-xs-12 col-sm-8 col-md-4 col-lg-4 si-top no-padding">
           <a href="{% url 'home' %}"> <img src="{% static 'image/logo.png' %}" class="img-responsive logo" width="400"></a>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 nav-bar-home no-padding">
            <div class="col-xs-12 col-md-12 no-padding"><a href="{% url 'publicar' %}">
                        <button type="buttom" class="btn btn-primary btn-lg no-radius"><i class="fa fa-cloud-upload"></i> Publica Tu Anuncio</button>
                        </a>
                      </div>
            <a href="{% url 'home' %}"><b>Inicio</b></a>
                  <span>|</span>
                  <a href="{% url 'listado' %}"><b>Anuncios</b></a>
                  <span>|</span>
                  <a href="{% url 'login' %}"><b>Ingresa</b></a>
                  <span>|</spa>
                  <a href="{% url 'signup' %}"><b>Registrate</b></a>
                   <span>|</span>
                  <a href="#"><b>Ayuda</b></a-->
          </div>

        <div class="col-md-9 space-menos"></div>
        <div class="col-xs-12 col-md-12 no-padding">
        <div class="panel panel-default">
          <div class="panel-body bar-search">
            <div class="col-xs-12 col-md-4">
              <div class="form-group no-bottom">
                          <input type="text" name="buscar" value="" id="buscarTitulo" placeholder="Busqueda de Anuncio" class="form-control si-bottom">
                        </div>
            </div>

            <div class="col-xs-12 col-md-3">
                      <div class="dropdown">
                        <button class="btn btn-default btn-cat-nav dropdown-toggle si-bottom" id="button_cat" type="button" data-toggle="dropdown">
                        <i class="fa fa-chevron-down right"></i></button>
                        <select id="id_categoria" name="categoria" style="display: none;" >
                        
                      </select>
                        <div class="dropdown-menu scrollable-menu categorias-nav">
                         <div class="col-xs-12 col-sm-9 col-md-12  no-padding">
                      <div class="col-xs-12 col-sm-12 col-md-12 no-padding" >
                          
                          <div class="col-xs-12 col-sm-12 col-md-12 si-bottom">
                             <div class="col-xs-2 col-sm-1 col-md-1 no-padding icon-nav-1">
                              <img src="{% static 'image/icon_vehiculos.gif' %}" >
                            </div>
                            <div class="col-xs-8 col-sm-5 col-md-3 cat-nav-1">
                              <h4><b>Vehiculos</h4>
                              <a class="btn-block" href="javascript:SelectCat('Autos y Camionetas','AyC')">Autos y Camionetas</a>
                            <a class="" href="javascript:SelectCat('Autopartes y Accesorios','AyA')">Autopartes y Accesorios</a>
                            <a class="btn-block" href="javascript:SelectCat('Motociletas','Mot')">Motociletas</a>
                            <a class="" href="javascript:SelectCat('Camiones y Comerciales','CyC')">Camiones y Comerciales</a>
                            <a class="btn-block" href="javascript:SelectCat('Náutica y Aviación','NyA')">Náutica y Aviación</a>
                            </div>

                             <div class="col-xs-2 col-sm-1 col-md-1 icon-nav-2">
                              <img src="{% static 'image/icon_inmuebles.gif' %}" >
                            </div>
                            <div class="col-xs-8 col-sm-5 col-md-3 cat-nav-2">
                             <h4><b>Inmuebles</b></h4>
                              <a class="btn-block" href="javascript:SelectCat('Casas','Cas')">Casas</a>
                           <a class="" href="javascript:SelectCat('Departamentos','Dep')">Departamentos</a>
                           <a class="btn-block" href="javascript:SelectCat('Terrenos y Lotes','TyL')">Terrenos y Lotes</a>
                           <a class="" href="javascript:SelectCat('Asistencias y Cuartos','Asi')">Asistencias y Cuartos</a>
                           <a class="btn-block" href="javascript:SelectCat('Casas de Campo','CdC')">Casas de Campo</a>
                           <a class="" href="javascript:SelectCat('Traspasos','Tra')">Traspasos</a>
                           <a class="btn-block" href="javascript:SelectCat('Rentas Vacacionales','RV')">Rentas Vacacionales</a>
                            </div>

                             <div class="col-xs-2 col-sm-1 col-md-1 no-padding icon-nav-1">
                              <img src="{% static 'image/icon_electronica.gif' %}">
                            </div>
                            <div class="col-xs-8 col-sm-5 col-md-3 cat-nav-3">
                            <h4><b>Electrónica</b></h4>
                              <a class="btn-block" href="javascript:SelectCat('Telefonos','Tel')">Telefonos</a>
                          <a class="" href="javascript:SelectCat('Computadoras y Tablets','CyT')">Computadoras y Tablets</a>
                          <a class="btn-block" href="javascript:SelectCat('Audio, TV, Fotos y Videos','ATF')">Audio, TV, Fotos y Videos</a>
                          <a class="" href="javascript:SelectCat('Consolas y Videojuegos','CyV')">Consolas y Videojuegos</a>
                          <a class="btn-block" href="javascript:SelectCat('Otros Electrónicos','OE')">Otros Electrónicos</a>
                            </div></b>

                          </div>

                          <div class="col-xs-12 col-sm-12 col-md-12 si-bottom">
                           <div class="col-xs-2 col-sm-1 col-md-1 no-padding icon-nav-3">
                              <img src="{% static 'image/icon_tiempo_libre.gif' %}" >
                            </div>
                            <b><div class="col-xs-8 col-sm-5 col-md-3 cat-nav-1">
                            <h4><b>Tiempo Libre </b></h4>
                              <a class="btn-block" href="javascript:SelectCat('Animales y Mascotas','AyM')">Animales y Mascotas</a>
                          <a class="" href="javascript:SelectCat('Bicicleta','Bic')">Bicicleta</a>
                          <a class="btn-block" href="javascript:SelectCat('Deportes','De')">Deportes</a>
                          <a class="" href="javascript:SelectCat('Instrumentos Musicales','IM')">Instrumentos Musicales</a>
                          <a class="btn-block" href="javascript:SelectCat('Caza, Pesca y Camping','CPC')">Caza, Pesca y Camping</a>
                          <a class="" href="javascript:SelectCat('Hobby y Coleccionables','HyC')">Hobby y Coleccionables</a>
                          <a class="btn-block" href="javascript:SelectCat('Libros','Lib')">Libros</a>
                          <a class="" href="javascript:SelectCat('Boletos','Bol')">Boletos</a>
                          <a class="btn-block" href="javascript:SelectCat('Viajes y Vacaciones','VyV')">Viajes y Vacaciones</a>
                            </div>

                            <div class="col-xs-2 col-sm-1 col-md-1 icon-nav-4">
                              <img src="{% static 'image/icon_empleo.gif' %}" >
                            </div>
                            <div class="col-xs-8 col-sm-5 col-md-3 cat-nav-2">
                            <h4><b>Personal</h4>
                              <a class="btn-block" href="javascript:SelectCat('Ropa y Zapatos','RyZ')">Ropa y Zapatos</a>
                          <a class="" href="javascript:SelectCat('Articulos para Niños','ApN')">Articulos para Niños</a>
                          <a class="btn-block" href="javascript:SelectCat('Accesorio y relojes','AyR')">Accesorio y relojes</a>
                          <a class="" href="javascript:SelectCat('Salud y Belleza','SyB')">Salud y Belleza</a>
                          <a class="btn-block" href="javascript:SelectCat('Amor y Amistad','AA')">Amor y Amistad</a>
                          <a class="" href="javascript:SelectCat('Empleo','Emp')">Empleo</a>
                          <a class="btn-block" href="javascript:SelectCat('Servcios y Eventos','SyE')">Servcios y Eventos</a>
                            </div>

                            <div class="col-xs-2 col-sm-1 col-md-1 no-padding icon-nav-4">
                              <img src="{% static 'image/icon_hogar.gif' %}" >
                            </div>
                            <div class="col-xs-8 col-sm-5 col-md-3 cat-nav-3">
                            <h4><b>Hogar y Oficina</b></h4>
                              <a class="btn-block" href="javascript:SelectCat('Electrodomésticos','Ele')">Electrodomésticos</a>
                          <a class="" href="javascript:SelectCat('Mueble y Decoracion','MyD')">Mueble y Decoracion</a>
                          <a class="btn-block" href="javascript:SelectCat('Jardin y Exterior','JyE')">Jardin y Exterior</a>
                          <a class="" href="javascript:SelectCat('Maquinaria y Construcción','MyC')">Maquinaria y Construcción</a>
                          <a class="btn-block" href="javascript:SelectCat('Articulos para la Oficina','ApO')">Articulos para la Oficina</a>
                          <a class="" href="javascript:SelectCat('Restaurantes y Comidas','RyC')">Restaurantes y Comidas</a>
                          <a class="btn-block" href="javascript:SelectCat('Todo lo demás','Tld')">Todo lo demás</a>
                            </div></b>
                          </div>
                        </div>
                    </div> 

                        </div>
                      </div>
                      </div>
                
            <div class="col-xs-12 col-md-3">
              <div class="form-group no-bottom">
                            <select name="ubicacion" class="form-control" id="buscarEstado">
                             <option>Todo Mexico</option>
                              <option>Aguascalientes</option>
                              <option>Baja California</option>
                              <option>Baja California Sur</option>
                              <option>Campeche</option>
                              <option>Chiapas</option>
                              <option>Chihuahua</option>
                              <option>Coahuila</option>
                              <option>Colima</option>
                              <option>Distrito Federal</option>
                              <option>Durango</option>
                              <option>Estado de México</option>
                              <option>Guanajuato</option>
                              <option>Guerrero</option>
                              <option>Hidalgo</option>
                              <option>Jalisco</option>
                              <option>Michoacán</option>
                              <option>Morelos</option>
                              <option>Nayarit</option>
                              <option>Nuevo León</option>
                              <option>Oaxaca</option>
                              <option>Puebla</option>
                              <option>Querétano</option>
                              <option>Quintana Roo</option>
                              <option>San Luis Potosí</option>
                              <option>Sinaloa</option>
                              <option>Sonora</option>
                              <option>Tabasco</option>
                              <option>Tamaulipas</option>
                              <option>Tlaxcala</option>
                              <option>Veracruz</option>
                              <option>Yucatán</option>
                              <option>Zacatecas</option>
                            </select>
                            <br>
                        </div>            
            </div>
            
        <form action="" id="id_buscar" method="get" multipart>
            <div class="col-xs-12 col-md-2">
               <div  id="inputBuscar" class="btn btn-primary btn-block si-bottom">Buscar <i class="fa fa-search"></i></div>           
            </div>
            <div class="col-xs-12 col-md-12 cat-invisible">
                    <div class="col-xs-12 col-md-3">
                      <div class="form-group no-bottom">
           
                          <select class="form-control" id="sel1" placeholder="Marca">
                            <option>Marca </option>
                            <option>Acura</option>
                            <option>Alfa Romero</option>
                            <option>AMC</option>


                          </select>
                          <br>
                        </div>
                    </div>

                     <div class="col-xs-12 col-md-3">
                      <div class="form-group no-bottom">
                          <select class="form-control" id="sel1">
                            <option>Año Desde </option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                          </select>
                          <br>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-3">
                      <div class="form-group no-bottom">
                     
                          <select class="form-control" id="sel1">
                            <option>Km Desde</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                          </select>
                          <br>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-3">
                      <div class="form-group no-bottom">
                         
                          <select class="form-control" id="sel1">
                            <option>Precio Desde </option>
                            <option>Manual</option>
                            <option>Automatica</option>
                          </select>
                          <br>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-3">
                      <div class="form-group no-bottom">
                        
                          <select class="form-control" id="sel1">
                           <option>Modelo </option>
                            <option>Gasolina</option>
                            <option>Disel</option>
                            <option>Gas</option>
                            <option>Eléctrico</option>
                            <option>Hibrído</option>
                          </select>
                          <br>
                        </div>
                    </div> 

                    <div class="col-xs-12 col-md-3">
                     <div class="form-group no-bottom">
                        
                          <select class="form-control" id="sel1">
                           <option>Año Hasta</option>
                            <option>Gasolina</option>
                            <option>Disel</option>
                            <option>Gas</option>
                            <option>Eléctrico</option>
                            <option>Hibrído</option>
                          </select>
                          <br>
                        </div>
                    </div> 
                     <div class="col-xs-12 col-md-3">
                     <div class="form-group no-bottom">
                        
                          <select class="form-control" id="sel1">
                           <option>Km Hasta</option>
                            <option>Gasolina</option>
                            <option>Disel</option>
                            <option>Gas</option>
                            <option>Eléctrico</option>
                            <option>Hibrído</option>
                          </select>
                          <br>
                        </div>
                    </div>  
                     <div class="col-xs-12 col-md-3">
                     <div class="form-group no-bottom">
                        
                          <select class="form-control" id="sel1">
                           <option>Precio Hasta</option>
                            <option>Gasolina</option>
                            <option>Disel</option>
                            <option>Gas</option>
                            <option>Eléctrico</option>
                            <option>Hibrído</option>
                          </select>
                          <br>
                        </div>
                    </div>                      
                    </div>
          </div>

        </div>
      </form>
     
    </div>


          {% block content %}{% endblock content %}

          <div class="col-xs-12 col-md-3 no-padding">
                        {% include 'destacados.html' %}

                     
      </div>
     </div>
    </div>
    <footer class="footer">
        <div class="container">
          <p class="text-muted">Derechos reservados <a href="anuven.com.mx">Anuven</a> copyright - 2016</p>
        </div>
      </footer>
      
  </div>
  </body>
<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script-->
<script>
   var csrftoken = null;
   var imagenes_config=[];
   var Cat="{{categoria}}";
   var id_Cat="{{id_categoria}}";
   var id_publicacion = {% if object.id %}{{object.id}}{% else %}null{% endif %};
   var update={% if update %}true{% else %}false{% endif %};
   var imagenes=[{% for imagen in object.imagenes.all %}"<img src='{{imagen.get_images}}' class='file-preview-image' alt='Desert' title='Desert'>",{% endfor %}"final"];
   imagenes.pop();
   var marca = null;
   var modelo = null;
   var anio = null;
   var transmision = null;
   var combustible = null;
   var kilometraje = null;
   var estado=null;
   var ciudad=null;
   var estado={% if object.estado.id %}{{object.estado.id}}{% else %}null{% endif %};
   var ciudad={% if object.ciudad.id %}{{object.ciudad.id}}{% else %}null{% endif %};
   if (id_Cat=="AyC"){
     var marca = "{{object.autos_y_camionetas.marca.id}}";
     var modelo = "{{object.autos_y_camionetas.modelo.id}}";
     var anio = "{{object.autos_y_camionetas.anio}}";
     var transmision = "{{object.autos_y_camionetas.transmision}}";
     var combustible = "{{object.autos_y_camionetas.combustible}}";
     var kilometraje = "{{object.autos_y_camionetas.kilometraje}}";
   }
   
  </script>
  <script src="{% static 'js/jquery-1.12.2.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
  <script src="{% static 'js/popovers.js' %}"></script>
  <script src="{% static 'js/plugins/canvas-to-blob.js' %}"></script>
  <script src="{% static 'js/fileinput.js' %}"></script>
  <script src="{% static 'js/fileinput_locale_es.js' %}"></script>
  <script src="{% static 'js/image.js' %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44768819-10', 'auto');
  ga('send', 'pageview');

</script>
  {% block js %}{% endblock js %}
</html>

