{% load staticfiles %}
{% load functions_extras %}
{% load humanize %}



                        {% if destacados %}
	                      <h3 class="no-top">Publicaciones Destacadas</h3>
	                     
	                      
	                      <div id="" class="col-xs-12 col-md-12 no-padding">
                         {% for publicacion in destacados %}
                         <div class="media">

                           <a href="{% url 'anuncio' publicacion.slug %}" class="pull-left">
                            <img src="{{publicacion.get_imagen}}" class="media-object img-responsive" alt="imagen" width="90">
                          </a>
                          <div class="media-body pic-publication">
                           <h5 class="media-heading"> <a href="{% url 'anuncio' publicacion.slug %}"><b>{{publicacion.titulo}}</b> </a><small><i>{{publicacion.estado.estado}}</i></small></h5>
                           <P class="descripcion">{{publicacion.descripcion|truncatechars:70}}</P>
                           <p class="no-bottom precio-2"><b><span>${{publicacion.precio}}</span></b></p>

                         </div>
                       </div>
                       <hr>
                       {% endfor %}
                    </div>
                    {% endif %}
                        
	                      <!--a href="#">¿Como anunciarme aqui?</a-->

                     
                      